 /* Global styles */
body {
  background-color: #1a1a1a;
  color: #fff;
}

/* Card styles */
.movie-card {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.movie-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

.movie-card:hover img {
  transform: scale(1.1);
}

.movie-card img {
  transform: scale(1.1);
  height: 250px;
  width: 200px;
  object-fit: cover;
}

.movie-card:hover .card-body {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in-out;
  justify-content: center;
}

.movie-card-title {
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.movie-card-text {
  font-size:0.7rem;
  margin-bottom: 1rem;
  text-align: center;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-self: flex-end;
  margin-right: 1rem;
}

.favorite-button:hover {
  color: #dc3545;
}

/* Button styles */
.btn-primary {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.btn-outline-primary {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-primary:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Container styles */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.toggle-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #222;
  color: #fff;
}

.movie-card.dark-mode {
  background-color: #444;
}

.movie-card:hover.dark-mode {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
}

.movie-card-title.dark-mode {
  color: #fff;
}

.movie-card-text.dark-mode {
  color: #ddd;
}

.btn-primary.dark-mode {
  background-color: #ff7f50;
  border-color: #ff7
}
   
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
  
.pagination a:hover {
  cursor: pointer;
}

.pagination .page-link:hover {
  text-decoration: underline;
}